.navbar-custom {
    background-color:#4A0D9C;
    color:#ffffff;
}

.navbar-custom .navbar-nav > li > a {
    color:#E6D100;
}

.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #E6D100;
    background-color: #672AB9;
}

.navbar-custom .navbar-brand {
    color:#E6D100;
}

.navbar-custom .navbar-nav > li > a:hover {
	background-color: #8651CD;
}

body{
	font-family: 'Lato', 'Open Sans', sans-serif;
	background-color: #5DCD00;
	color: #CD003E;
}

.main-msg{
	background-color: #FFEC28;
	color: #8651CD;
}

.carousel{
	max-width: 50%;
	max-height: 50%;
	margin-left: 25%;
}
.event1{
	background-color: #8651CD;
	color: #FFEC28;
}

.event1 img{
	max-width: 50%;
	max-height: 50%;
}

.activities img{
	max-width: 210px;
	max-height: 210px;
}

body a {
	color: #FFF056;
}

body a:hover, body a:focus{
	color: #98EE50;
}

img {
	margin-bottom: 10px;
}