/*
David Ruiz
INFO 343-B HW# 1
Oct 5, 2012

Esspresso B CSS Styling
Intention to create an Espresso Page
that has good intention of improving the original
using only basic aspects of XHTML, CSS Box-model
and interesting typefacing css psuedo-classes. 
*/
html{
	background-color: #B2F0B2;
	color: #B20000;
	font-size: 110%;
	font-family: Quando, Helvetica, Lucida, Grande, Arial, sans-serif;
	line-height: 2em;
}
body{
	max-width: 750px;
	min-width: 350px;
	margin-left: auto;
	margin-right: auto;
}

h1{
	font-size: 150%;
	font-weight: normal;
	color: #00006B;
}
h2{
	font-size: 200%;
	font-weight: bold;
	color: #00006B;
}
h3{
	color: #00006B;
}
#top img{
	border: 1px solid #464646;
}

#author img, .comment img{
	width: 50px;
	height: 50px;
	margin-right: 4px;
}

#warning, #note{
	padding: .5em;
}

#author p, .comment p{
	margin: .5em;
}
#author, .comment{
	padding-bottom: .5em;
	padding-top: .5em;
}

#warning{
	background-color: lightpink;
}
#warning:hover{
	border: 3px dotted red;
}

#warning strong{
	color: red;
}

#top{
	text-align: center;
}
h3{
	font-weight: bold;
	text-decoration: underline;
	
}
a:hover{
	text-decoration: underline;
}
a{
	text-decoration: none;
	color: #006600;
}
#byline, .byline{
	font-size: 80%;
	font-style: italic;
}

.byline{
	color: #006600;
}
em{
	border-bottom: 1px dashed; 
	color: #006600;
}
#note em{
	font-style: normal;
	font-weight: bold;
}
.comment:hover, #note{
	background-color: white;
	border: 1px solid darkred;
}
#author:hover{
	background-color:white;
	border: 1px solid darkred
}